albumentations
addict
opencv-python
numpy
sklearn
tqdm
matplotlib
tensorboard
onnx
glog
torchvision
torch
gdown
icecream
efficientnet_lite_pytorch
efficientnet_lite0_pytorch_model
efficientnet_lite1_pytorch_model
efficientnet_lite2_pytorch_model
optuna
pylint
isort
pytest
ptflops
timm
